.testimonal-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px 0;

  justify-items: center;
  align-items: center;
}
.testimonal-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #313131;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.testimonal-container div > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: flex-start;
  align-items: flex-start;
}
.person-name {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffba31;
}
.testimonal-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.testimonal-images img:nth-child(1) {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonal-images img:nth-child(2) {
  width: 120px;
  object-fit: contain;
  border-radius: 10px;
}

/* Phone responsive */
@media screen and (max-width: 768px) {
  .testimonal-container {
    grid-template-columns: 1fr;
  }
}
